:root {
    --cream: rgb(255,251,235);
    --blue: rgb(73,85,121);
    --darker-blue: rgb(38,49,89);
    --darkest-blue: rgb(37,23,73);
}

body {
    background-color: var(--cream);
}

.container {
    background-color: var(--darkest-blue);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    color: white;
    background-color: var(--blue);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.input_section {
    margin-left: 15%;
    margin-right: 15%;
}

#title {
    width: 89%;
    border-style:solid;
    border-color: var(--blue);
    padding: 10px;
    border-radius: 15px;
}

#ingredients, #instructions {
    width: 70%;
    margin-bottom: 3px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-style:solid;
    border-color: var(--blue);
    border-width: 1px;
    padding: 10px;
}

#add-ingredient, #add-instruction {
    width: 19%;
    position: relative;
    right: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style:solid;
    border-color: var(--blue);
    border-width: 1px;
    padding: 10px;
}

#ingredient_list, #instruction_list {
    background-color: var(--darkest-blue);
    border-style: dashed;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    min-height: 100px;
}

.new_divs {
    background-color: var(--cream);
    max-width: 30%;
    display: inline-block;
    flex-wrap: wrap;
    margin: 2px;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
}

button {
    background-color: var(--cream);
    cursor: pointer;
}

#reset-form, #create-card {
    border-radius: 15px;
    border-style:solid;
    border-color: var(--blue);
    border-width: 1px;
    padding: 10px;
}

#final_buttons {
    display: flex;
    justify-content: right;
}